﻿.background-header {
	color: #FFFFFF;
	background-color: #12498A;
	border: 1px solid #000000;
	font-size:14px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

/*---------- bubble tooltip -----------*/
/*---------- Всплывающие подсказки -----------*/
a.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
	font-weight: normal;
    text-decoration:none;
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; color: #aaaaff; background:;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:20px; left:20;
	padding: 15px 0 0 0;
	width:200px;
	color: #993300;
    text-align: center;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url(./img/bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 8px; 
	background: url(./img/bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url(./img/bubble.gif) no-repeat bottom;
}


