﻿.background-header {
	color: #FFFFFF;
	background-color: #12498A;
	border: 1px solid #000000;
	font-size:14px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

a:focus {
	outline: none;
}
#panel {
	background: #fff;
	height: 360px;
	display: none;
	border: solid 1px #bfbfbf;
}
.slide {
	margin: 0;
	padding: 0;
	border: solid 1px #bfbfbf;
	background: url(images/btn-slide.gif) no-repeat center top;
}
.btn-slide {
	background: url(images/white-arrow.gif) no-repeat right -50px;
	text-align: center;
	width: 344px;
	height: 31px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	display: block;
	font:  130%/100% Arial, Helvetica, sans-serif;
	color: #0066CC; <!--цвет ссылки-->
	text-decoration: none;
}
.active {
	background-position: right 12px;
}
#coefficient {
	background: #fff;
	height: 160px;
	display: none;
	border: solid 1px #bfbfbf;
	padding: 0 0 0 5px;
}

